<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJs Training</title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/FruitController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" ng-controller="FruitController">
        <div class="card-columns">
            <div class="card" ng-repeat="x in Fruit">
                <img class="card-img-top" ng-src="{{x.photoUrl}}">
                <div class="card-body">
                    <h5 class="card-title">{{x.name}}</h5>
                    <p class="card-text">{{x.description | limitTo:90}}{{x.description.length > 90 ? '...' : ''}}</p>

                </div>
                <div class="card-footer" style="text-align:center">
                    <a href="#" id="myBtn" ng-click="showModal(x.name, x.description, x.photoUrl)">More</a>
                </div>
            </div>
          
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="card-title">{{name}}</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <img class="card-img-top" ng-src="{{photoUrl}}">
                            <div class="card-body">
                               
                                <p class="card-text">{{description}}</p>

                            </div>

                        </div>
                    </div>
                    <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
                </div>

            </div>
        </div>

    </div>


</body>
</html>